<header>
  <ul>
    <li><a>FAQs</a></li>
    <li><a>Over ons</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</header>

<nav>
  <img src="/assets/logo-white.BRllZ9aS.svg">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/">Over Ad's</a></li>
    <li><a href="/">Publicaties</a></li>
    <li><a href="/ad-talent-award">Talent Award</a></li>
    <li><a href="/opleidingsprofielen">AD profielen</a></li>
    <li><a href="/">Nieuws</a></li>
    <li class="navButton"><a href="/">Kom naar Ad-dag</a></li>
  </ul>
</nav>
