<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdConnect - opleidingsprofielen</title>
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/opleidingsprofielen.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=download"
    >
  </head>
  <body>
    {% include 'partials/header.liquid' %}

    <section class="heroProfielen">
      <div class="heroContainer">
        <div class="profielenInfo">
          <div class="slug">Home \ Opleidingsprofielen</div>
          <h1>Procedure vaststellen Landelijke Ad-profielen</h1>
          <p>
            De Ad-opleidingen verenigd in een Landelijk Ad-overleg (LAdO) kunnen besluiten om een Landelijk
            Ad-opleidingsprofiel of een Landelijk Ad-domeinprofiel te ontwikkelen. De Algemene Ledenvergadering van
            Vereniging Hogescholen heeft in 2019 een procedure en een handreiking vastgesteld om tot een Landelijk
            domein of opleidingsprofiel voor de Ad te komen, zie Handreiking VH beoordeling profielen Ad opleidingen
            2019. Om een landelijk profiel op te laten nemen in de profielenbank van Vereniging Hogescholen worden de
            volgende stappen doorlopen.
          </p>
        </div>
      </div>
    </section>

    <article class="profielenStappen">
      <ol>
        <li>
          Het LAdO gaat na welke eisen er aan een landelijke profiel gesteld worden vanuit het sectoraal adviescollege
          waaronder de opleiding (of de opleidingen) valt en vanuit het Overlegplatform Associate degrees. Dit zijn de
          beoordelingscriteria voor het landelijk Ad-profiel vanuit het platform. NB: Voor Ad-profielen die onder het
          sectoraal adviescollege heo (economie) vallen, wordt verwezen naar de beoordelingscriteria van het
          heo-Ad-profiel op de website van Vereniging Hogescholen.
        </li>
        <li>
          Het LAdO informeert de secretaris van (zie Vereniging Hogescholen) en het Overlegplatform Associate degrees
          (zie Ad-profielen) over het voornemen en de planning om een Landelijk Ad-profiel op te stellen.
        </li>
        <li>Het LAdO ontwikkelt een Landelijk Ad-profiel met stakeholders uit werkveld en onderwijs.</li>
        <li>
          De voorzitter van het LAdO dient het Landelijk Ad-profiel in bij de contactpersoon Mariëtte Muris van het
          Overlegplatform Associate degrees.
        </li>
        <li>
          De adviescommissie van het Overlegplatform Associate degrees geeft een advies op basis van de
          beoordelingscriteria. De contactpersoon van het platform koppelt dit terug naar de voorzitter van het LAdO.
        </li>
        <li>
          Het LAdO verwerkt de feedback van de adviescommissie in het Landelijk Ad-profiel en verantwoordt in het
          adviesdocument van het platform wat met de feedback is gedaan. Het profiel en de verantwoording wordt naar de
          contactpersoon van het platform gestuurd.
        </li>
        <li>
          Het LAdO vraagt het sectoraal adviescollege – via de secretaris – om het Landelijk Ad-profiel te bespreken.
        </li>
        <li>
          Bij een positief advies van het sectoraal adviescollege wordt het Landelijk Ad-profiel vastgesteld door het
          bestuur van Vereniging Hogescholen en opgenomen in de profielenbank.
        </li>
      </ol>
    </article>

    <article class="profielenBank">
      <div class="divider">
        <hr>
        <h2>Landelijke Ad-profielen vastgesteld door Vereniging Hogescholen</h2>
        <hr>
      </div>

      <div class="profielenContainer">
        <p>
          De onderstaande Landelijke Ad-profielen zijn opgenomen in de profielenbank van Vereniging Hogescholen, zie:
          https://www.vereniginghogescholen.nl/profielenbank en vervolgpagina’s. Als Ad-opleidingen opgenomen zijn in
          het landelijk opleidingsprofiel of domeinprofiel van bachelors, dan is dit profiel vermeld bij de
          opleidingsnaam van deze Ad’s in de profielenbank.
        </p>

        <div class="profielen" role="region" tabindex="0">
          <table>
            <thead></thead>
            <tbody>
              <tr>
                <td>Ad Business Administration</td>
                <td>Domeinprofiel Management in de Zorg</td>
              </tr>
              <tr>
                <td>Ad Commerce</td>
                <td>Ad Ondernemen</td>
              </tr>
              <tr>
                <td>Domeinprofielen Ad cluster Creatieve Industrie</td>
                <td>Ad Pedagogisch Educatief Professional</td>
              </tr>
              <tr>
                <td>Ad Ervaringsdeskundige in Zorg en Welzijn</td>
                <td>Ad Sociaal Financiële Dienstverlening</td>
              </tr>
              <tr>
                <td>Domeinprofiel Ad Events</td>
                <td>Ad Sociaal Werk</td>
              </tr>
              <tr>
                <td>Ad Finance</td>
                <td>Ad Sport</td>
              </tr>
              <tr>
                <td>Ad Human Resource Management</td>
                <td>Ad Technische Bedrijfskunde</td>
              </tr>
              <tr>
                <td>Ad Logistiek</td>
                <td>Ad Zorg en Technologie</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="divider">
          <hr>
          <h2>Overzicht LAdO’s (Landelijke Ad Overleggen)</h2>
          <hr>
        </div>

        <p>
          <span class="bold">Associate degrees contactpersoon LAdO's:</span><br>
          Mariëtte Muris<br>
          platformassociatedegrees@outlook.com
        </p>

        <div class="ladosTabel" role="region" tabindex="0">
          <table>
            <thead>
              <tr>
                <th>LAdO</th>
                <th>Opleiding</th>
                <th>Hogeschool</th>
                <th>Voorzitter / contactpersonen</th>
                <th>Landelijk Ad-profiel</th>
                <th>Status</th>
                <th>Sectoraal adviescollege</th>
              </tr>
            </thead>
            <tbody>
              <tr class="ladoHeader">
                <td><strong>1</strong></td>
                <td colspan="6"><strong>Landelijk Overleg Ad Build Environment</strong></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Bouwkunde</td>
                <td>HAN, Saxion, Windesheim</td>
                <td>John de Jong</td>
                <td>Domeinprofiel Built Environment Associate degree en bachelor hbo</td>
                <td>In profielenbank VH 2022</td>
                <td>Bètatechniek</td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Bouwmanagement</td>
                <td>Hogeschool Utrecht</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Built Environment</td>
                <td>Avans, HZ University of Applied Sciences</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Integraal Bouwmanagement</td>
                <td>Hogeschool Rotterdam, Dordrecht Academy</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="ladoHeader">
                <td><strong>2</strong></td>
                <td colspan="6"><strong>Landelijke Ad-overleg Business Administration</strong></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Bedrijfskunde</td>
                <td>Avans, HAN, Hanze, HZ University of Applied Sciences, NHL Stenden, Hogeschool Utrecht</td>
                <td>Maartje Loncke (vz) Angelique Kellij (vz)</td>
                <td>Domeinprofiel Ad Business Administration</td>
                <td>In profielenbank VH 2020 Update profiel verwacht in 2025</td>
                <td>Hoger economisch onderwijs</td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Management</td>
                <td>Avans, Hogeschool Rotterdam, Saxion, Windesheim</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="ladoHeader">
                <td><strong>3</strong></td>
                <td colspan="6"><strong>LAdO Commerce</strong></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Commerciële Economie</td>
                <td>Fontys, NHL Stenden, Windesheim, HAN</td>
                <td>Annemarie van Alphen</td>
                <td>Profiel Ad Commerce</td>
                <td>In profielenbank VH 2020</td>
                <td>Hoger economisch onderwijs</td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Commercieel Management</td>
                <td>Zuyd Hogeschool</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Online Marketing</td>
                <td>De Haagse Hogeschool</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Marketing Management</td>
                <td>Avans</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Sales en Accountmanagement</td>
                <td>Hogeschool Rotterdam, Hogeschool Utrecht</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="ladoHeader">
                <td><strong>4</strong></td>
                <td colspan="6">
                  <strong>LAdO Communicatie en Media (cross-sectoraal overleg met LAdO Media en Techniek)</strong>
                </td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Communicatie</td>
                <td>Avans</td>
                <td>Rens Rietveld</td>
                <td>Domeinprofiel Ad Creatieve industrie</td>
                <td>In profielenbank VH 2024</td>
                <td>Hoger economisch onderwijs</td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Creative Media Professional</td>
                <td>NHL Stenden</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Crossmediale Communicatie</td>
                <td>Hogeschool Rotterdam, Inholland</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Online Contentcreator</td>
                <td>Hogeschool Utrecht, NHL Stenden, Hanze (vanaf sept 2025)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="ladoHeader">
                <td><strong>5</strong></td>
                <td colspan="6"><strong>LAdO Finance</strong></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Accountancy</td>
                <td>Avans, Fontys, HAN, Hogeschool Rotterdam</td>
                <td>Cor Koopmans Antoine Schaeffer</td>
                <td>Domeinprofiel Ad Finance</td>
                <td>In profielenbank VH 2023</td>
                <td>Hoger economisch onderwijs</td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Finance</td>
                <td>
                  Avans, Hogeschool van Amsterdam (in ontwikkeling), Hogeschool Utrecht (in ontwikkeling), Windesheim
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Finance & Control</td>
                <td>Haagse Hogeschool, Inholland, NHL Stenden</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="ladoHeader">
                <td><strong>6</strong></td>
                <td colspan="6"><strong>LAdO HRM</strong></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Human Resource Management</td>
                <td>Avans, Hanze, Hogeschool Utrecht, NHL Stenden</td>
                <td>Jeroen Hullemans</td>
                <td>Profiel Ad Human Resource Management</td>
                <td>In profielenbank VH 2024</td>
                <td>Hoger economisch onderwijs</td>
              </tr>
              <tr class="ladoHeader">
                <td><strong>7</strong></td>
                <td colspan="6"><strong>LAdO Logistiek</strong></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Logistiek</td>
                <td>
                  Avans, Fontys, Hogeschool van Amsterdam, HZ University of Applied Sciences, Windesheim, HAN, NHL
                  Stenden, Inholland, Dordrecht Academy
                </td>
                <td>Tot 25 augustus 2025 Jeroen Vrins Maartje Loncke</td>
                <td>Domeinprofiel Associate degree Logistiek</td>
                <td>In profielenbank VH 2024</td>
                <td>Hoger economisch onderwijs</td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Logistiek Management</td>
                <td>Hogeschool Rotterdam, Hogeschool Utrecht</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="ladoHeader">
                <td><strong>8</strong></td>
                <td colspan="6">
                  <strong>LAdO Media en Techniek (cross-sectoraal overleg met LAdO Communicatie en Media)</strong>
                </td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Digitale techniek en media</td>
                <td>Hogeschool Utrecht</td>
                <td>Rick Goossens</td>
                <td>Domeinprofiel Ad Creatieve industrie</td>
                <td>In profielenbank VH 2024</td>
                <td>Bètatechniek</td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Smart Media Production</td>
                <td>Hogeschool van Amsterdam, Hogeschool Rotterdam (vanaf sept 2025)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="ladoHeader">
                <td><strong>9</strong></td>
                <td colspan="6"><strong>LAdO Ondernemen</strong></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Ondernemen</td>
                <td>Christ. Hogeschool Ede, Hogeschool Rotterdam, Hanze, Windesheim</td>
                <td>Maarten Geels</td>
                <td>Profiel Ad Ondernemen</td>
                <td>In profielenbank VH 2020</td>
                <td>Hoger economisch onderwijs</td>
              </tr>
              <tr class="ladoHeader">
                <td><strong>10</strong></td>
                <td colspan="6"><strong>LAdO Zorg, Welzijn en Educatie</strong></td>
              </tr>
              <tr>
                <td colspan="7">Voorzitter: Adriaan Oosterloo - Sectoraal adviescollege: Hogere sociale studies</td>
              </tr>
              <tr class="ladoHeader">
                <td colspan="2"><strong>10a</strong></td>
                <td colspan="5"><strong>Cluster Ad Ervaringsdeskundigheid Zorg & Welzijn</strong></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Ervaringsdeskundigheid in Zorg en Welzijn</td>
                <td>Fontys, HAN, Hanze, Hogeschool van Amsterdam, Saxion</td>
                <td>Ad EZW contactpersoon Mariëtte van Hees</td>
                <td>Profiel Ad Ervaringsdeskundigheid in Zorg en Welzijn</td>
                <td>In profielenbank VH 2023</td>
                <td></td>
              </tr>
              <tr class="ladoHeader">
                <td colspan="2"><strong>10b</strong></td>
                <td colspan="5"><strong>Cluster Ad Educatie</strong></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Pedagogisch Educatief Professional</td>
                <td>
                  Christ. Hogeschool Ede, Driestar, Fontys, HAN, Hanze, Hogeschool Rotterdam, HZ University of Applied
                  Sciences, Inholland, IPABO, Iselinge, Kath. Pabo Zwolle, Marnix Onderwijscentrum, Saxion, Windesheim
                </td>
                <td>Ad PEP contactpersoon Martine Dijk</td>
                <td>Profiel Ad Pedagogisch Educatief Professional</td>
                <td>In profielenbank VH 2023</td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Educatief Professional Beroepsonderwijs</td>
                <td>Fontys, Hogeschool Rotterdam, Windesheim, Aeres, Hogeschool van Amsterdam</td>
                <td></td>
                <td>Profiel EBP/DEP</td>
                <td>In ontwikkeling</td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Didactisch Educatief Professional</td>
                <td>VIAA, NHL Stenden, Iselinge, Hogeschool Utrecht</td>
                <td></td>
                <td>Profiel EBP/DEP</td>
                <td>In ontwikkeling</td>
                <td></td>
              </tr>
              <tr class="ladoHeader">
                <td colspan="2"><strong>10c</strong></td>
                <td colspan="5"><strong>Cluster Ad Sociaal Financiële Dienstverlening</strong></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Sociaal Financiële Dienstverlening</td>
                <td>Hogeschool Rotterdam, Inholland, Utrecht, Windesheim</td>
                <td>Ad SFD contactpersoon Vacature</td>
                <td>Profiel Ad Sociaal Financiële Dienstverlening</td>
                <td>In profielenbank VH 2023</td>
                <td></td>
              </tr>
              <tr class="ladoHeader">
                <td colspan="2"><strong>10d</strong></td>
                <td colspan="5"><strong>Cluster Ad Sociaal Werk</strong></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Sociaal Werk</td>
                <td>
                  HAN, Haagse Hogeschool, Hogeschool Rotterdam, Christ. Hogeschool Ede, Saxion, Windesheim, Inholland,
                  NHL Stenden, Hogeschool van Amsterdam, HZ University of Applied Sciences, Hanze, Saxion, Zuyd
                  Hogeschool (in ontwikkeling)
                </td>
                <td>Ad SW contactpersoon Carine Aalbers</td>
                <td>Profiel Ad Sociaal Werk</td>
                <td>In profielenbank VH 2023</td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Health & Social Work (wordt: Ad Sociaal Werk)</td>
                <td>Avans, Hogeschool Utrecht</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="ladoHeader">
                <td colspan="2"><strong>10e</strong></td>
                <td colspan="5"><strong>Cluster Ad Zorg en Technologie</strong></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Zorg en Technologie</td>
                <td>Fontys, NHL Stenden, Windesheim</td>
                <td>Ad-Z&T contactpersoon Stan Ockers</td>
                <td>Profiel Ad Zorg en Technologie</td>
                <td>In profielenbank VH 2023</td>
                <td></td>
              </tr>
              <tr class="ladoHeader">
                <td colspan="2"><strong>10f</strong></td>
                <td colspan="5"><strong>Cluster Ad Pastoraal Werk</strong></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Pastoraal werk</td>
                <td>Christ. Hogeschool Ede</td>
                <td>LOO Theologie Contactpersoon Dick van Schepen</td>
                <td>Nee</td>
                <td>Nee</td>
                <td></td>
              </tr>
              <tr class="ladoHeader">
                <td><strong>11</strong></td>
                <td colspan="6"><strong>Landelijk Ad-overleg Engineering</strong></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Constructeur Werktuigbouwkunde</td>
                <td>HAN</td>
                <td>Sjaco Kaan</td>
                <td>Nee</td>
                <td>Nee</td>
                <td>Bètatechniek</td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Elektrotechniek</td>
                <td>Fontys, HAN</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Bouwgebonden installatietechniek</td>
                <td>HAN</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Embedded systems engineering</td>
                <td>HAN</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Engineering</td>
                <td>Avans, Fontys, Hogeschool Rotterdam, Hogeschool Utrecht, Zuyd Hogeschool, Saxion</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Industriële automatisering en Robotica</td>
                <td>NHL Stenden, Windesheim</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Smart Asset Maintenance</td>
                <td>Hogeschool van Amsterdam</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Maintenance and Mechanics</td>
                <td>Hogeschool Rotterdam</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Maintenance</td>
                <td>Inholland</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Smart Industry</td>
                <td>HAN</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Smart Technology</td>
                <td>Hogeschool Rotterdam</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Mechatronica in de smart industry</td>
                <td>Hanze</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Projectleider Techniek</td>
                <td>Hanze</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Maritieme Techniek</td>
                <td>NHL Stenden</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Automotive</td>
                <td>HAN</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Systeemspecialist Automotive</td>
                <td>HAN, Hanze</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Energietransitie Engineer</td>
                <td>HZ University of Applied Sciences</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Werktuigbouwkunde</td>
                <td>Fontys, Saxion</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="ladoHeader">
                <td><strong>12</strong></td>
                <td colspan="6"><strong>LAdO Technische Bedrijfskunde</strong></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Technische Bedrijfskunde</td>
                <td>Fontys, HAN, HZ UAS, Saxion, Windesheim, De Haagse Hogeschool</td>
                <td>Frank Huising</td>
                <td>Profiel Ad Technische Bedrijfskunde</td>
                <td>Afronding en aanleveren bij sac bètatechniek</td>
                <td>Bètatechniek</td>
              </tr>
              <tr class="ladoHeader">
                <td><strong>13</strong></td>
                <td colspan="6"><strong>LAdO Cyber Security</strong></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Cyber Security</td>
                <td>Hogeschool Utrecht, Hogeschool van Amsterdam, Saxion (in ontwikkeling)</td>
                <td>Marlon Hartskeerl</td>
                <td>Nee</td>
                <td>Nee</td>
                <td>Bètatechniek</td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Cyber Security & Safety</td>
                <td>NHL Stenden</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Information Security</td>
                <td>Hogeschool Rotterdam</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="ladoHeader">
                <td><strong>14</strong></td>
                <td colspan="6"><strong>LAdO Events</strong></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Eventmanager</td>
                <td>Hogeschool Utrecht, NHL Stenden</td>
                <td>Claudia van Bleek</td>
                <td>Domeinprofiel Ad Event</td>
                <td>Verwacht in 2025</td>
                <td>Hoger economisch onderwijs</td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Event & Experience Management</td>
                <td>Hogeschool Rotterdam</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Facilitair Eventmanagement</td>
                <td>Inholland</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Leisure & Events Management</td>
                <td>NHL Stenden</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="ladoHeader">
                <td><strong>15</strong></td>
                <td colspan="6"><strong>Landelijk Overleg Ad Sport (LOAS)</strong></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad Sport</td>
                <td>Fontys, Hanze, Hogeschool van Amsterdam, HZ University of Applied Sciences, Windesheim</td>
                <td>Jos Goudsmit</td>
                <td>Profiel Ad Sport</td>
                <td>In profielenbank VH 2021</td>
                <td>Hoger Sociale Studies</td>
              </tr>
              <tr class="ladoHeader">
                <td><strong>16</strong></td>
                <td colspan="6"><strong>LAdO E-Commerce</strong></td>
              </tr>
              <tr>
                <td></td>
                <td>Ad E-Commerce</td>
                <td>Haagse Hogeschool, Windesheim, Hogeschool Utrecht</td>
                <td>Albert-Jan Giethoorn</td>
                <td>Profiel E-Commerce</td>
                <td>In ontwikkeling</td>
                <td>Hoger economisch onderwijs</td>
              </tr>
            </tbody>
          </table>
        </div>

        <h3><a href="/assets/lado.pdf" download>Download LAdO's overzicht als PDF <span class="material-symbols-outlined"> download </span></a></h3>
      </div>
    </article>
  </body>
</html>
