<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdConnect - LAdO's</title>
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/opleidingsprofielen.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=download"
    >
  </head>
  <body>
    {% include 'partials/header.liquid' %}

    <section class="heroProfielen">
      <div class="heroContainer">
        <div class="profielenInfo">
          <div class="slug">Home \ LAdO's</div>
          <h1>Overzicht LAdO’s (Landelijke Ad Overleggen)</h1>
          <p>
            De Ad-opleidingen verenigd in een Landelijk Ad-overleg (LAdO) kunnen besluiten om een Landelijk
            Ad-opleidingsprofiel of een Landelijk Ad-domeinprofiel te ontwikkelen. De Algemene Ledenvergadering van
            Vereniging Hogescholen heeft in 2019 een procedure en een handreiking vastgesteld om tot een Landelijk
            domein of opleidingsprofiel voor de Ad te komen, zie Handreiking VH beoordeling profielen Ad opleidingen
            2019. Om een landelijk profiel op te laten nemen in de profielenbank van Vereniging Hogescholen worden de
            volgende stappen doorlopen.
          </p>
        </div>
      </div>
    </section>

    {% comment %}
      <article class="profielenStappen">
        <ol>
          <li>
            Het LAdO gaat na welke eisen er aan een landelijke profiel gesteld worden vanuit het sectoraal adviescollege
            waaronder de opleiding (of de opleidingen) valt en vanuit het Overlegplatform Associate degrees. Dit zijn de
            beoordelingscriteria voor het landelijk Ad-profiel vanuit het platform. NB: Voor Ad-profielen die onder het
            sectoraal adviescollege heo (economie) vallen, wordt verwezen naar de beoordelingscriteria van het
            heo-Ad-profiel op de website van Vereniging Hogescholen.
          </li>
          <li>
            Het LAdO informeert de secretaris van (zie Vereniging Hogescholen) en het Overlegplatform Associate degrees
            (zie Ad-profielen) over het voornemen en de planning om een Landelijk Ad-profiel op te stellen.
          </li>
          <li>Het LAdO ontwikkelt een Landelijk Ad-profiel met stakeholders uit werkveld en onderwijs.</li>
          <li>
            De voorzitter van het LAdO dient het Landelijk Ad-profiel in bij de contactpersoon Mariëtte Muris van het
            Overlegplatform Associate degrees.
          </li>
          <li>
            De adviescommissie van het Overlegplatform Associate degrees geeft een advies op basis van de
            beoordelingscriteria. De contactpersoon van het platform koppelt dit terug naar de voorzitter van het LAdO.
          </li>
          <li>
            Het LAdO verwerkt de feedback van de adviescommissie in het Landelijk Ad-profiel en verantwoordt in het
            adviesdocument van het platform wat met de feedback is gedaan. Het profiel en de verantwoording wordt naar de
            contactpersoon van het platform gestuurd.
          </li>
          <li>
            Het LAdO vraagt het sectoraal adviescollege – via de secretaris – om het Landelijk Ad-profiel te bespreken.
          </li>
          <li>
            Bij een positief advies van het sectoraal adviescollege wordt het Landelijk Ad-profiel vastgesteld door het
            bestuur van Vereniging Hogescholen en opgenomen in de profielenbank.
          </li>
        </ol>
      </article>
    {% endcomment %}

    <article class="profielenBank">
      <div class="divider">
        <hr>
        <h2>Landelijke Ad-profielen vastgesteld door Vereniging Hogescholen</h2>
        <hr>
      </div>

      <div class="profielenContainer">
        <p>
          De onderstaande Landelijke Ad-profielen zijn opgenomen in de profielenbank van Vereniging Hogescholen, zie:
          https://www.vereniginghogescholen.nl/profielenbank en vervolgpagina’s. Als Ad-opleidingen opgenomen zijn in
          het landelijk opleidingsprofiel of domeinprofiel van bachelors, dan is dit profiel vermeld bij de
          opleidingsnaam van deze Ad’s in de profielenbank.
        </p>

        <p class="overviewStamp">versie 11 maart 2025</p>
        <p>
          Informatie en wijzigingen: Mariëtte Muris, contactpersoon LAdO’s<br>
          <a href="mailto:platformassociatedegrees@outlook.com"
            >platformassociatedegrees@outlook.com</a
          >.
        </p>

        <div class="tabs" role="tablist">
          <input type="radio" name="lado-tabs" id="lado-build" checked="checked">
          <label id="lado-build-label" for="lado-build" title="Landelijk Overleg Ad Build Environment">
            <span class="tabTitle">Ad Build Environment</span>
            <span class="tabSubtitle">Bètatechniek</span>
          </label>
          <div class="tab" role="tabpanel" aria-labelledby="lado-build-label">
            <div class="ladoHeader">
              <h3>Landelijk Overleg Ad Build Environment</h3>
              <div class="ladoMeta">
                <div class="ladoMetaItem">
                  <p class="metaLabel">Voorzitter / contactpersonen</p>
                  <p>Niet opgegeven (bron: 11 maart 2025)</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Sectoraal adviescollege</p>
                  <p>Bètatechniek</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Landelijk Ad-profiel</p>
                  <p>Domeinprofiel Built Environment</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Status</p>
                  <p>Associate degree en bachelor hbo - In profielenbank VH 2023</p>
                </div>
              </div>
            </div>
            <div class="tableWrapper">
              <table class="ladoTable">
                <thead>
                  <tr>
                    <th>Opleiding</th>
                    <th>Hogescholen</th>
                    <th>Opmerkingen</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Ad Bouwkunde</td>
                    <td>HAN, Saxion, Windesheim</td>
                    <td>Onderdeel Domeinprofiel Built Environment</td>
                  </tr>
                  <tr>
                    <td>Ad Bouwmanagement</td>
                    <td>Hogeschool Utrecht</td>
                    <td>Valt binnen sector Bètatechniek</td>
                  </tr>
                  <tr>
                    <td>Ad Built Environment</td>
                    <td>Avans, HZ University of Applied Sciences</td>
                    <td>Associate degree &amp; bachelor hbo combinatie</td>
                  </tr>
                  <tr>
                    <td>Ad Integraal Bouwmanagement</td>
                    <td>Hogeschool Rotterdam, Dordrecht Academy</td>
                    <td>Onderdeel Domeinprofiel Built Environment</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <input type="radio" name="lado-tabs" id="lado-business">
          <label id="lado-business-label" for="lado-business" title="Landelijke Ad-overleg Business Administration">
            <span class="tabTitle">Ad Business Administration</span>
            <span class="tabSubtitle">Hoger economisch onderwijs</span>
          </label>
          <div class="tab" role="tabpanel" aria-labelledby="lado-business-label">
            <div class="ladoHeader">
              <h3>Landelijke Ad-overleg Business Administration</h3>
              <div class="ladoMeta">
                <div class="ladoMetaItem">
                  <p class="metaLabel">Voorzitter / contactpersonen</p>
                  <p>Annemarie van Alphen</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Sectoraal adviescollege</p>
                  <p>Hoger economisch onderwijs</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Landelijk Ad-profiel</p>
                  <p>Domeinprofiel Ad Business Administration</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Status</p>
                  <p>Geborgd in profielenbank VH (11 maart 2025)</p>
                </div>
              </div>
            </div>
            <div class="tableWrapper">
              <table class="ladoTable">
                <thead>
                  <tr>
                    <th>Opleiding</th>
                    <th>Hogescholen</th>
                    <th>Opmerkingen</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Ad Bedrijfskunde</td>
                    <td>Avans, HAN, Hanze, HZ University of Applied Sciences, NHL Stenden, Hogeschool Utrecht</td>
                    <td>Onder domeinprofiel Ad Business Administration</td>
                  </tr>
                  <tr>
                    <td>Ad Management</td>
                    <td>Avans, Hogeschool Rotterdam, Saxion, Windesheim</td>
                    <td>HEO - sluit aan op domeinprofiel Business Administration</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <input type="radio" name="lado-tabs" id="lado-commerce">
          <label id="lado-commerce-label" for="lado-commerce" title="LAdO Commerce">
            <span class="tabTitle">LAdO Commerce</span>
            <span class="tabSubtitle">Profiel Ad Commerce</span>
          </label>
          <div class="tab" role="tabpanel" aria-labelledby="lado-commerce-label">
            <div class="ladoHeader">
              <h3>LAdO Commerce</h3>
              <div class="ladoMeta">
                <div class="ladoMetaItem">
                  <p class="metaLabel">Voorzitter / contactpersonen</p>
                  <p>Niet opgegeven (bron: 11 maart 2025)</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Sectoraal adviescollege</p>
                  <p>Hoger economisch onderwijs</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Landelijk Ad-profiel</p>
                  <p>Profiel Ad Commerce</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Status</p>
                  <p>In profielenbank VH 2020</p>
                </div>
              </div>
            </div>
            <div class="tableWrapper">
              <table class="ladoTable">
                <thead>
                  <tr>
                    <th>Opleiding</th>
                    <th>Hogescholen</th>
                    <th>Opmerkingen</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Ad Commerciële Economie</td>
                    <td>Fontys, NHL Stenden, Windesheim, HAN</td>
                    <td>Profiel Ad Commerce - in profielenbank VH 2020</td>
                  </tr>
                  <tr>
                    <td>Ad Commercieel Management</td>
                    <td>Zuyd Hogeschool</td>
                    <td>Profiel Ad Commerce</td>
                  </tr>
                  <tr>
                    <td>Ad Online Marketing</td>
                    <td>De Haagse Hogeschool</td>
                    <td>Profiel Ad Commerce</td>
                  </tr>
                  <tr>
                    <td>Ad Marketing Management</td>
                    <td>Avans</td>
                    <td>Profiel Ad Commerce</td>
                  </tr>
                  <tr>
                    <td>Ad Sales en Accountmanagement</td>
                    <td>Hogeschool Rotterdam, Hogeschool Utrecht</td>
                    <td>Profiel Ad Commerce</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <input type="radio" name="lado-tabs" id="lado-communicatie">
          <label id="lado-communicatie-label" for="lado-communicatie" title="LAdO Communicatie en Media">
            <span class="tabTitle">Communicatie &amp; Media</span>
            <span class="tabSubtitle">Creatieve industrie</span>
          </label>
          <div class="tab" role="tabpanel" aria-labelledby="lado-communicatie-label">
            <div class="ladoHeader">
              <h3>LAdO Communicatie en Media (cross-sectoraal)</h3>
              <div class="ladoMeta">
                <div class="ladoMetaItem">
                  <p class="metaLabel">Voorzitter / contactpersonen</p>
                  <p>
                    John de Jong - Rens Rietveld - Maartje Loncke (vz) - Angelique Kellij (vz) - Cor Koopmans - Antoine
                    Schaeffer
                  </p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Sectoraal adviescollege</p>
                  <p>Hoger economisch onderwijs - samenwerking met LAdO Media en Techniek</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Landelijk Ad-profiel</p>
                  <p>Domeinprofiel Ad Creatieve industrie</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Status</p>
                  <p>In profielenbank VH 2024</p>
                </div>
              </div>
            </div>
            <div class="tableWrapper">
              <table class="ladoTable">
                <thead>
                  <tr>
                    <th>Opleiding</th>
                    <th>Hogescholen</th>
                    <th>Opmerkingen</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Ad Communicatie</td>
                    <td>Avans</td>
                    <td>Contact: Rens Rietveld - In profielenbank VH 2024</td>
                  </tr>
                  <tr>
                    <td>Ad Creative Media Professional</td>
                    <td>NHL Stenden</td>
                    <td>Onder Domeinprofiel Ad Creatieve industrie</td>
                  </tr>
                  <tr>
                    <td>Ad Crossmediale Communicatie</td>
                    <td>Hogeschool Rotterdam, Inholland</td>
                    <td>Onder Domeinprofiel Ad Creatieve industrie</td>
                  </tr>
                  <tr>
                    <td>Ad Online Contentcreator</td>
                    <td>Hogeschool Utrecht, NHL Stenden, Hanze (vanaf september 2025)</td>
                    <td>Uitbreiding vanaf september 2025</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <input type="radio" name="lado-tabs" id="lado-media-tech">
          <label id="lado-media-tech-label" for="lado-media-tech" title="LAdO Media en Techniek">
            <span class="tabTitle">Media &amp; Techniek</span>
            <span class="tabSubtitle">Cross-sectoraal</span>
          </label>
          <div class="tab" role="tabpanel" aria-labelledby="lado-media-tech-label">
            <div class="ladoHeader">
              <h3>LAdO Media en Techniek (cross-sectoraal met Communicatie)</h3>
              <div class="ladoMeta">
                <div class="ladoMetaItem">
                  <p class="metaLabel">Voorzitter / contactpersonen</p>
                  <p>Rick Goossens</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Sectoraal adviescollege</p>
                  <p>Bètatechniek - creatieve industrie</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Landelijk Ad-profiel</p>
                  <p>Domeinprofiel Ad Creatieve industrie</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Status</p>
                  <p>In profielenbank VH 2020 - 2022 - 2024 - update verwacht in 2025</p>
                </div>
              </div>
            </div>
            <div class="tableWrapper">
              <table class="ladoTable">
                <thead>
                  <tr>
                    <th>Opleiding</th>
                    <th>Hogescholen</th>
                    <th>Opmerkingen</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Ad Digitale techniek en media</td>
                    <td>Hogeschool Utrecht</td>
                    <td>Onder Domeinprofiel Ad Creatieve industrie</td>
                  </tr>
                  <tr>
                    <td>Ad Smart Media Production</td>
                    <td>Hogeschool van Amsterdam, Hogeschool Rotterdam (vanaf september 2025)</td>
                    <td>Nieuwe instroom per september 2025</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <input type="radio" name="lado-tabs" id="lado-finance">
          <label id="lado-finance-label" for="lado-finance" title="LAdO Finance">
            <span class="tabTitle">LAdO Finance</span>
            <span class="tabSubtitle">Domeinprofiel Ad Finance</span>
          </label>
          <div class="tab" role="tabpanel" aria-labelledby="lado-finance-label">
            <div class="ladoHeader">
              <h3>LAdO Finance</h3>
              <div class="ladoMeta">
                <div class="ladoMetaItem">
                  <p class="metaLabel">Voorzitter / contactpersonen</p>
                  <p>Niet opgegeven (bron: 11 maart 2025)</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Sectoraal adviescollege</p>
                  <p>Hoger economisch onderwijs</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Landelijk Ad-profiel</p>
                  <p>Domeinprofiel Ad Finance</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Status</p>
                  <p>Domeinprofiel in profielenbank VH 2023</p>
                </div>
              </div>
            </div>
            <div class="tableWrapper">
              <table class="ladoTable">
                <thead>
                  <tr>
                    <th>Opleiding</th>
                    <th>Hogescholen</th>
                    <th>Opmerkingen</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Ad Accountancy</td>
                    <td>Avans, Fontys, HAN, Hogeschool Rotterdam</td>
                    <td>Hoger economisch onderwijs</td>
                  </tr>
                  <tr>
                    <td>Ad Finance</td>
                    <td>
                      Avans, Hogeschool van Amsterdam (in ontwikkeling), Hogeschool Utrecht (in ontwikkeling),
                      Windesheim
                    </td>
                    <td>Onder Domeinprofiel Ad Finance</td>
                  </tr>
                  <tr>
                    <td>Ad Finance &amp; Control</td>
                    <td>Haagse Hogeschool, Inholland, NHL Stenden</td>
                    <td>Domeinprofiel Ad Finance</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <input type="radio" name="lado-tabs" id="lado-hrm">
          <label id="lado-hrm-label" for="lado-hrm" title="LAdO HRM">
            <span class="tabTitle">LAdO HRM</span>
            <span class="tabSubtitle">Profiel Ad HRM</span>
          </label>
          <div class="tab" role="tabpanel" aria-labelledby="lado-hrm-label">
            <div class="ladoHeader">
              <h3>6 - LAdO Human Resource Management</h3>
              <div class="ladoMeta">
                <div class="ladoMetaItem">
                  <p class="metaLabel">Voorzitter / contactpersonen</p>
                  <p>Jeroen Hullemans</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Sectoraal adviescollege</p>
                  <p>Hoger economisch onderwijs</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Landelijk Ad-profiel</p>
                  <p>Profiel Ad Human Resource Management</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Status</p>
                  <p>In profielenbank VH 2024</p>
                </div>
              </div>
            </div>
            <div class="tableWrapper">
              <table class="ladoTable">
                <thead>
                  <tr>
                    <th>Opleiding</th>
                    <th>Hogescholen</th>
                    <th>Opmerkingen</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Ad Human Resource Management</td>
                    <td>Avans, Hanze, Hogeschool Utrecht, NHL Stenden</td>
                    <td>Profiel Ad HRM - in profielenbank VH 2024</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <input type="radio" name="lado-tabs" id="lado-logistiek">
          <label id="lado-logistiek-label" for="lado-logistiek" title="LAdO Logistiek">
            <span class="tabTitle">LAdO Logistiek</span>
            <span class="tabSubtitle">Domeinprofiel Logistiek</span>
          </label>
          <div class="tab" role="tabpanel" aria-labelledby="lado-logistiek-label">
            <div class="ladoHeader">
              <h3>7 - LAdO Logistiek</h3>
              <div class="ladoMeta">
                <div class="ladoMetaItem">
                  <p class="metaLabel">Voorzitter / contactpersonen</p>
                  <p>Jeroen Vrins - Maartje Loncke (tot 25 augustus 2025)</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Sectoraal adviescollege</p>
                  <p>Hoger economisch onderwijs</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Landelijk Ad-profiel</p>
                  <p>Domeinprofiel Associate degree Logistiek</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Status</p>
                  <p>Domeinprofiel in profielenbank VH 2023 - Ad Logistiek in profielenbank VH 2024</p>
                </div>
              </div>
            </div>
            <div class="tableWrapper">
              <table class="ladoTable">
                <thead>
                  <tr>
                    <th>Opleiding</th>
                    <th>Hogescholen</th>
                    <th>Opmerkingen</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Ad Logistiek</td>
                    <td>
                      Avans, Fontys, Hogeschool van Amsterdam, HZ University of Applied Sciences, Windesheim, HAN, NHL
                      Stenden, Inholland, Dordrecht Academy
                    </td>
                    <td>In profielenbank VH 2024</td>
                  </tr>
                  <tr>
                    <td>Ad Logistiek Management</td>
                    <td>Hogeschool Rotterdam, Hogeschool Utrecht</td>
                    <td>Aangesloten bij Domeinprofiel Logistiek</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <input type="radio" name="lado-tabs" id="lado-ondernemen">
          <label id="lado-ondernemen-label" for="lado-ondernemen" title="LAdO Ondernemen">
            <span class="tabTitle">LAdO Ondernemen</span>
            <span class="tabSubtitle">Profiel Ad Ondernemen</span>
          </label>
          <div class="tab" role="tabpanel" aria-labelledby="lado-ondernemen-label">
            <div class="ladoHeader">
              <h3>9 - LAdO Ondernemen</h3>
              <div class="ladoMeta">
                <div class="ladoMetaItem">
                  <p class="metaLabel">Voorzitter / contactpersonen</p>
                  <p>Maarten Geels</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Sectoraal adviescollege</p>
                  <p>Hoger economisch onderwijs</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Landelijk Ad-profiel</p>
                  <p>Profiel Ad Ondernemen</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Status</p>
                  <p>In profielenbank VH 2020</p>
                </div>
              </div>
            </div>
            <div class="tableWrapper">
              <table class="ladoTable">
                <thead>
                  <tr>
                    <th>Opleiding</th>
                    <th>Hogescholen</th>
                    <th>Opmerkingen</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Ad Ondernemen</td>
                    <td>Christelijke Hogeschool Ede, Hogeschool Rotterdam, Hanze, Windesheim</td>
                    <td>Profiel Ad Ondernemen - in profielenbank VH 2020</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <input type="radio" name="lado-tabs" id="lado-zwe">
          <label id="lado-zwe-label" for="lado-zwe" title="LAdO Zorg, Welzijn en Educatie">
            <span class="tabTitle">LAdO Zorg, Welzijn &amp; Educatie</span>
            <span class="tabSubtitle">10a-10f</span>
          </label>
          <div class="tab" role="tabpanel" aria-labelledby="lado-zwe-label">
            <div class="ladoHeader">
              <h3>10 - LAdO Zorg, Welzijn en Educatie (ZWE)</h3>
              <div class="ladoMeta">
                <div class="ladoMetaItem">
                  <p class="metaLabel">Voorzitter / contactpersonen</p>
                  <p>Adriaan Oosterloo (voorzitter LAdO ZWE)</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Sectoraal adviescollege</p>
                  <p>Hogere sociale studies</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Landelijk Ad-profiel</p>
                  <p>specifiek (zie 10a t/m 10f)</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Status</p>
                  <p>Profielen in profielenbank VH 2023 tenzij anders vermeld</p>
                </div>
              </div>
            </div>

            <div class="ladoCluster">
              <h4>10a - Ad Ervaringsdeskundigheid Zorg &amp; Welzijn</h4>
              <div class="ladoMeta">
                <div class="ladoMetaItem">
                  <p class="metaLabel">Contactpersoon</p>
                  <p>Mariëtte van Hees</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Landelijk Ad-profiel</p>
                  <p>Profiel Ad Ervaringsdeskundigheid in Zorg en Welzijn</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Status</p>
                  <p>In profielenbank VH 2023</p>
                </div>
              </div>
              <div class="tableWrapper">
                <table class="ladoTable">
                  <thead>
                    <tr>
                      <th>Opleiding</th>
                      <th>Hogescholen</th>
                      <th>Opmerkingen</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Ad Ervaringsdeskundigheid in Zorg en Welzijn</td>
                      <td>Fontys, HAN, Hanze, Hogeschool van Amsterdam, Saxion</td>
                      <td>Onderdeel EZW</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="ladoCluster">
              <h4>10b - Ad Pedagogisch &amp; Educatief Professional</h4>
              <div class="ladoMeta">
                <div class="ladoMetaItem">
                  <p class="metaLabel">Contactpersoon</p>
                  <p>Martine Dijk (Ad PEP)</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Landelijk Ad-profiel</p>
                  <p>Profiel Ad Pedagogisch Educatief Professional - Profiel EBP/DEP</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Status</p>
                  <p>PEP-profiel in profielenbank VH 2023 - EBP/DEP in ontwikkeling</p>
                </div>
              </div>
              <div class="tableWrapper">
                <table class="ladoTable">
                  <thead>
                    <tr>
                      <th>Opleiding</th>
                      <th>Hogescholen</th>
                      <th>Opmerkingen</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Ad Pedagogisch Educatief Professional</td>
                      <td>
                        Christelijke Hogeschool Ede, Driestar, Fontys, HAN, Hanze, Hogeschool Rotterdam, HZ University
                        of Applied Sciences, Inholland, IPABO, Iselinge, Katholieke Pabo Zwolle, Marnix
                        Onderwijscentrum, Saxion, Windesheim
                      </td>
                      <td>Profiel Ad PEP - in profielenbank VH 2023</td>
                    </tr>
                    <tr>
                      <td>Ad Educatief Professional Beroepsonderwijs</td>
                      <td>Fontys, Hogeschool Rotterdam, Windesheim, Aeres, Hogeschool van Amsterdam</td>
                      <td>Profiel EBP/DEP - in ontwikkeling</td>
                    </tr>
                    <tr>
                      <td>Ad Didactisch Educatief Professional</td>
                      <td>VIAA, NHL Stenden, Iselinge, Hogeschool Utrecht</td>
                      <td>Profiel EBP/DEP - in ontwikkeling</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="ladoCluster">
              <h4>10c - Ad Sociaal Financiële Dienstverlening</h4>
              <div class="ladoMeta">
                <div class="ladoMetaItem">
                  <p class="metaLabel">Contactpersoon</p>
                  <p>Vacature</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Landelijk Ad-profiel</p>
                  <p>Profiel Ad Sociaal Financiële Dienstverlening</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Status</p>
                  <p>In profielenbank VH 2023</p>
                </div>
              </div>
              <div class="tableWrapper">
                <table class="ladoTable">
                  <thead>
                    <tr>
                      <th>Opleiding</th>
                      <th>Hogescholen</th>
                      <th>Opmerkingen</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Ad Sociaal Financiële Dienstverlening</td>
                      <td>Hogeschool Rotterdam, Inholland, Hogeschool Utrecht, Windesheim</td>
                      <td>Profiel Ad SFD</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="ladoCluster">
              <h4>10d - Ad Sociaal Werk</h4>
              <div class="ladoMeta">
                <div class="ladoMetaItem">
                  <p class="metaLabel">Contactpersoon</p>
                  <p>Carine Aalbers</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Landelijk Ad-profiel</p>
                  <p>Profiel Ad Sociaal Werk</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Status</p>
                  <p>In profielenbank VH 2023</p>
                </div>
              </div>
              <div class="tableWrapper">
                <table class="ladoTable">
                  <thead>
                    <tr>
                      <th>Opleiding</th>
                      <th>Hogescholen</th>
                      <th>Opmerkingen</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Ad Sociaal Werk</td>
                      <td>
                        HAN, Haagse Hogeschool, Hogeschool Rotterdam, Christelijke Hogeschool Ede, Saxion, Windesheim,
                        Inholland, NHL Stenden, Hogeschool van Amsterdam, HZ University of Applied Sciences, Hanze, Zuyd
                        Hogeschool (in ontwikkeling)
                      </td>
                      <td>Profiel Ad Sociaal Werk - in profielenbank VH 2023</td>
                    </tr>
                    <tr>
                      <td>Ad Health &amp; Social Work (wordt: Ad Sociaal Werk)</td>
                      <td>Avans, Hogeschool Utrecht</td>
                      <td>Transitie naar Profiel Ad Sociaal Werk</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="ladoCluster">
              <h4>10e - Ad Zorg en Technologie</h4>
              <div class="ladoMeta">
                <div class="ladoMetaItem">
                  <p class="metaLabel">Contactpersoon</p>
                  <p>Stan Ockers</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Landelijk Ad-profiel</p>
                  <p>Profiel Ad Zorg en Technologie</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Status</p>
                  <p>In profielenbank VH 2023</p>
                </div>
              </div>
              <div class="tableWrapper">
                <table class="ladoTable">
                  <thead>
                    <tr>
                      <th>Opleiding</th>
                      <th>Hogescholen</th>
                      <th>Opmerkingen</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Ad Zorg en Technologie</td>
                      <td>Fontys, NHL Stenden, Windesheim</td>
                      <td>Profiel Ad Zorg en Technologie</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="ladoCluster">
              <h4>10f - Ad Pastoraal Werk</h4>
              <div class="ladoMeta">
                <div class="ladoMetaItem">
                  <p class="metaLabel">Contactpersoon</p>
                  <p>Dick van Schepen</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Landelijk Ad-profiel</p>
                  <p>Geen landelijk profiel (LOO Theologie)</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Status</p>
                  <p>Nog niet aangeleverd</p>
                </div>
              </div>
              <div class="tableWrapper">
                <table class="ladoTable">
                  <thead>
                    <tr>
                      <th>Opleiding</th>
                      <th>Hogescholen</th>
                      <th>Opmerkingen</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Ad Pastoraal werk</td>
                      <td>Christelijke Hogeschool Ede</td>
                      <td>Geen landelijk profiel - status n.v.t.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <input type="radio" name="lado-tabs" id="lado-engineering">
          <label id="lado-engineering-label" for="lado-engineering" title="Landelijk Ad-overleg Engineering">
            <span class="tabTitle">Ad Engineering</span>
            <span class="tabSubtitle">Bètatechniek</span>
          </label>
          <div class="tab" role="tabpanel" aria-labelledby="lado-engineering-label">
            <div class="ladoHeader">
              <h3>11 - Landelijk Ad-overleg Engineering</h3>
              <div class="ladoMeta">
                <div class="ladoMetaItem">
                  <p class="metaLabel">Voorzitter / contactpersonen</p>
                  <p>Sjaco Kaan</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Sectoraal adviescollege</p>
                  <p>Bètatechniek</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Landelijk Ad-profiel</p>
                  <p>Nog niet vastgesteld (overzicht 11 maart 2025)</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Status</p>
                  <p>Landelijk profiel &amp; status: Nee</p>
                </div>
              </div>
            </div>
            <div class="tableWrapper">
              <table class="ladoTable">
                <thead>
                  <tr>
                    <th>Opleiding</th>
                    <th>Hogescholen</th>
                    <th>Opmerkingen</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Ad Constructeur Werktuigbouwkunde</td>
                    <td>HAN</td>
                    <td>Landelijk profiel nog niet vastgesteld</td>
                  </tr>
                  <tr>
                    <td>Ad Elektrotechniek</td>
                    <td>Fontys, HAN</td>
                    <td>Landelijk profiel nog niet vastgesteld</td>
                  </tr>
                  <tr>
                    <td>Ad Bouwgebonden installatietechniek</td>
                    <td>HAN</td>
                    <td>Landelijk profiel nog niet vastgesteld</td>
                  </tr>
                  <tr>
                    <td>Ad Embedded systems engineering</td>
                    <td>HAN</td>
                    <td>Landelijk profiel nog niet vastgesteld</td>
                  </tr>
                  <tr>
                    <td>Ad Engineering</td>
                    <td>Avans, Fontys, Hogeschool Rotterdam, Hogeschool Utrecht, Zuyd Hogeschool, Saxion</td>
                    <td>Landelijk profiel nog niet vastgesteld</td>
                  </tr>
                  <tr>
                    <td>Ad Industriële automatisering en Robotica</td>
                    <td>NHL Stenden, Windesheim</td>
                    <td>Landelijk profiel nog niet vastgesteld</td>
                  </tr>
                  <tr>
                    <td>Ad Smart Asset Maintenance</td>
                    <td>Hogeschool van Amsterdam</td>
                    <td>Landelijk profiel nog niet vastgesteld</td>
                  </tr>
                  <tr>
                    <td>Ad Maintenance and Mechanics</td>
                    <td>Hogeschool Rotterdam</td>
                    <td>Landelijk profiel nog niet vastgesteld</td>
                  </tr>
                  <tr>
                    <td>Ad Maintenance</td>
                    <td>Inholland</td>
                    <td>Landelijk profiel nog niet vastgesteld</td>
                  </tr>
                  <tr>
                    <td>Ad Smart Industry</td>
                    <td>HAN</td>
                    <td>Landelijk profiel nog niet vastgesteld</td>
                  </tr>
                  <tr>
                    <td>Ad Smart Technology</td>
                    <td>Hogeschool Rotterdam</td>
                    <td>Landelijk profiel nog niet vastgesteld</td>
                  </tr>
                  <tr>
                    <td>Ad Mechatronica in de smart industry</td>
                    <td>Hanze</td>
                    <td>Landelijk profiel nog niet vastgesteld</td>
                  </tr>
                  <tr>
                    <td>Ad Projectleider Techniek</td>
                    <td>Hanze</td>
                    <td>Landelijk profiel nog niet vastgesteld</td>
                  </tr>
                  <tr>
                    <td>Ad Maritieme Techniek</td>
                    <td>NHL Stenden</td>
                    <td>Landelijk profiel nog niet vastgesteld</td>
                  </tr>
                  <tr>
                    <td>Ad Automotive</td>
                    <td>HAN</td>
                    <td>Landelijk profiel nog niet vastgesteld</td>
                  </tr>
                  <tr>
                    <td>Ad Systeemspecialist Automotive</td>
                    <td>HAN, Hanze</td>
                    <td>Landelijk profiel nog niet vastgesteld</td>
                  </tr>
                  <tr>
                    <td>Ad Energietransitie Engineer</td>
                    <td>HZ University of Applied Sciences</td>
                    <td>Landelijk profiel nog niet vastgesteld</td>
                  </tr>
                  <tr>
                    <td>Ad Werktuigbouwkunde</td>
                    <td>Fontys, Saxion</td>
                    <td>Landelijk profiel nog niet vastgesteld</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <input type="radio" name="lado-tabs" id="lado-technische-bedrijfskunde">
          <label
            id="lado-technische-bedrijfskunde-label"
            for="lado-technische-bedrijfskunde"
            title="LAdO Technische Bedrijfskunde"
          >
            <span class="tabTitle">Technische Bedrijfskunde</span>
            <span class="tabSubtitle">Bètatechniek</span>
          </label>
          <div class="tab" role="tabpanel" aria-labelledby="lado-technische-bedrijfskunde-label">
            <div class="ladoHeader">
              <h3>12 - LAdO Technische Bedrijfskunde</h3>
              <div class="ladoMeta">
                <div class="ladoMetaItem">
                  <p class="metaLabel">Voorzitter / contactpersonen</p>
                  <p>Frank Huising</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Sectoraal adviescollege</p>
                  <p>Bètatechniek</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Landelijk Ad-profiel</p>
                  <p>Profiel Ad Technische Bedrijfskunde</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Status</p>
                  <p>Afronding en aanleveren bij SAC Bètatechniek</p>
                </div>
              </div>
            </div>
            <div class="tableWrapper">
              <table class="ladoTable">
                <thead>
                  <tr>
                    <th>Opleiding</th>
                    <th>Hogescholen</th>
                    <th>Opmerkingen</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Ad Technische Bedrijfskunde</td>
                    <td>Fontys, HAN, HZ University of Applied Sciences, Saxion, Windesheim, De Haagse Hogeschool</td>
                    <td>Profiel Ad Technische Bedrijfskunde - status aanlevering bij SAC</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <input type="radio" name="lado-tabs" id="lado-cyber">
          <label id="lado-cyber-label" for="lado-cyber" title="LAdO Cyber Security">
            <span class="tabTitle">LAdO Cyber Security</span>
            <span class="tabSubtitle">Bètatechniek</span>
          </label>
          <div class="tab" role="tabpanel" aria-labelledby="lado-cyber-label">
            <div class="ladoHeader">
              <h3>13 - LAdO Cyber Security</h3>
              <div class="ladoMeta">
                <div class="ladoMetaItem">
                  <p class="metaLabel">Voorzitter / contactpersonen</p>
                  <p>Marlon Hartskeerl</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Sectoraal adviescollege</p>
                  <p>Bètatechniek</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Landelijk Ad-profiel</p>
                  <p>Nee (overzicht 11 maart 2025)</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Status</p>
                  <p>Nog geen landelijk profiel</p>
                </div>
              </div>
            </div>
            <div class="tableWrapper">
              <table class="ladoTable">
                <thead>
                  <tr>
                    <th>Opleiding</th>
                    <th>Hogescholen</th>
                    <th>Opmerkingen</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Ad Cyber Security</td>
                    <td>Hogeschool Utrecht, Hogeschool van Amsterdam, Saxion (in ontwikkeling)</td>
                    <td>Landelijk profiel: Nee</td>
                  </tr>
                  <tr>
                    <td>Ad Cyber Security &amp; Safety</td>
                    <td>NHL Stenden</td>
                    <td>Landelijk profiel: Nee</td>
                  </tr>
                  <tr>
                    <td>Ad Information Security</td>
                    <td>Hogeschool Rotterdam</td>
                    <td>Landelijk profiel: Nee</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <input type="radio" name="lado-tabs" id="lado-events">
          <label id="lado-events-label" for="lado-events" title="LAdO Events">
            <span class="tabTitle">LAdO Events</span>
            <span class="tabSubtitle">Domeinprofiel Ad Event</span>
          </label>
          <div class="tab" role="tabpanel" aria-labelledby="lado-events-label">
            <div class="ladoHeader">
              <h3>14 - LAdO Events</h3>
              <div class="ladoMeta">
                <div class="ladoMetaItem">
                  <p class="metaLabel">Voorzitter / contactpersonen</p>
                  <p>Claudia van Bleek</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Sectoraal adviescollege</p>
                  <p>Hoger economisch onderwijs</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Landelijk Ad-profiel</p>
                  <p>Domeinprofiel Ad Event</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Status</p>
                  <p>Verwacht in 2025</p>
                </div>
              </div>
            </div>
            <div class="tableWrapper">
              <table class="ladoTable">
                <thead>
                  <tr>
                    <th>Opleiding</th>
                    <th>Hogescholen</th>
                    <th>Opmerkingen</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Ad Eventmanager</td>
                    <td>Hogeschool Utrecht, NHL Stenden</td>
                    <td>Domeinprofiel Ad Event</td>
                  </tr>
                  <tr>
                    <td>Ad Event &amp; Experience Management</td>
                    <td>Hogeschool Rotterdam</td>
                    <td>Domeinprofiel Ad Event</td>
                  </tr>
                  <tr>
                    <td>Ad Facilitair Eventmanagement</td>
                    <td>Inholland</td>
                    <td>Domeinprofiel Ad Event</td>
                  </tr>
                  <tr>
                    <td>Ad Leisure &amp; Events Management</td>
                    <td>NHL Stenden</td>
                    <td>Domeinprofiel Ad Event</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <input type="radio" name="lado-tabs" id="lado-sport">
          <label id="lado-sport-label" for="lado-sport" title="Landelijk Overleg Ad Sport (LOAS)">
            <span class="tabTitle">LOAS</span>
            <span class="tabSubtitle">Ad Sport</span>
          </label>
          <div class="tab" role="tabpanel" aria-labelledby="lado-sport-label">
            <div class="ladoHeader">
              <h3>15 - Landelijk Overleg Ad Sport (LOAS)</h3>
              <div class="ladoMeta">
                <div class="ladoMetaItem">
                  <p class="metaLabel">Voorzitter / contactpersonen</p>
                  <p>Jos Goudsmit</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Sectoraal adviescollege</p>
                  <p>Hoger sociale studies</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Landelijk Ad-profiel</p>
                  <p>Profiel Ad Sport</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Status</p>
                  <p>In profielenbank VH 2021</p>
                </div>
              </div>
            </div>
            <div class="tableWrapper">
              <table class="ladoTable">
                <thead>
                  <tr>
                    <th>Opleiding</th>
                    <th>Hogescholen</th>
                    <th>Opmerkingen</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Ad Sport</td>
                    <td>Fontys, Hanze, Hogeschool van Amsterdam, HZ University of Applied Sciences, Windesheim</td>
                    <td>Profiel Ad Sport - in profielenbank VH 2021</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <input type="radio" name="lado-tabs" id="lado-ecommerce">
          <label id="lado-ecommerce-label" for="lado-ecommerce" title="LAdO E-Commerce">
            <span class="tabTitle">LAdO E-Commerce</span>
            <span class="tabSubtitle">Hoger economisch onderwijs</span>
          </label>
          <div class="tab" role="tabpanel" aria-labelledby="lado-ecommerce-label">
            <div class="ladoHeader">
              <h3>16 - LAdO E-Commerce</h3>
              <div class="ladoMeta">
                <div class="ladoMetaItem">
                  <p class="metaLabel">Voorzitter / contactpersonen</p>
                  <p>Albert-Jan Giethoorn</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Sectoraal adviescollege</p>
                  <p>Hoger economisch onderwijs</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Landelijk Ad-profiel</p>
                  <p>Profiel E-Commerce</p>
                </div>
                <div class="ladoMetaItem">
                  <p class="metaLabel">Status</p>
                  <p>In ontwikkeling</p>
                </div>
              </div>
            </div>
            <div class="tableWrapper">
              <table class="ladoTable">
                <thead>
                  <tr>
                    <th>Opleiding</th>
                    <th>Hogescholen</th>
                    <th>Opmerkingen</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Ad E-Commerce</td>
                    <td>De Haagse Hogeschool, Windesheim, Hogeschool Utrecht</td>
                    <td>Profiel E-Commerce - status in ontwikkeling</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <a href="/assets/lado.pdf" download
          >Download LAdO's overzicht als PDF <span class="materialSymbolsOutlined"> download </span></a
        >
      </div>
    </article>
              {% include 'partials/footer.liquid' %}
  </body>
</html>
